.bg-light {
    background-color: #0AA6FA!important;
}
.navbar-brand{
  color: #E63122 !important;
  font-size: 30px;
  font-weight: bold;
}

.nav-item{
  font-size: 25px;
  font-weight: lighter;
}
.navbar-light .navbar-nav .nav-link{
  color: #22E6AE !important;
  font-weight: 600;
  font-size: 20px;
  transition: font-size 1s;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #F82918 !important;
  font-size: 22px;
}

nav{
  padding-top: 10px;
}

.presentation{
  background-image: url("/images/background3.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 1110px !important;
  height: 400px !important;
  margin-left: 1px;
}

.generated{
  padding-top: 170px;
  margin-left: 240px;
  font-size: 25px;
  color: #1F1FFF;
  font-weight: 400;
}
